[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/fuzzyfinder"]
	path = bundle/fuzzyfinder
	url = http://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/l9"]
	path = bundle/l9
	url = http://github.com/vim-scripts/L9.git
[submodule "bundle/clang-complete"]
	path = bundle/clang-complete
	url = https://github.com/Rip-Rip/clang_complete.git
