[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/fuzzyfinder"]
	path = bundle/fuzzyfinder
	url = http://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/l9"]
	path = bundle/l9
	url = http://github.com/vim-scripts/L9.git
[submodule "bundle/clang-complete"]
	path = bundle/clang-complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/scratch"]
	path = bundle/scratch
	url = https://github.com/duff/vim-scratch.git
[submodule "bundle/rainbow-parenthesis"]
	path = bundle/rainbow-parenthesis
	url = https://github.com/vim-scripts/Rainbow-Parenthesis.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = http://github.com/kien/ctrlp.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = http://github.com/majutsushi/tagbar
[submodule "emacs/.emacs.d/helm"]
	path = emacs/.emacs.d/helm
	url = http://github.com/emacs-helm/helm
[submodule "emacs/.emacs.d/helm-etags-plus"]
	path = emacs/.emacs.d/helm-etags-plus
	url = https://github.com/jixiuf/helm-etags-plus
[submodule "emacs/.emacs.d/themes/ample-zen"]
	path = emacs/.emacs.d/themes/ample-zen
	url = https://github.com/mjwall/ample-zen
[submodule "emacs/.emacs.d/themes/emacs-boron-theme"]
	path = emacs/.emacs.d/themes/emacs-boron-theme
	url = https://github.com/emacsfodder/emacs-boron-theme
[submodule "emacs/.emacs.d/themes/amelie-theme"]
	path = emacs/.emacs.d/themes/amelie-theme
	url = https://github.com/ranmocy/amelie-theme
[submodule "emacs/.emacs.d/xcscope.el"]
	path = emacs/.emacs.d/xcscope.el
	url = http://github.com/dkogan/xcscope.el.git
[submodule "emacs/.emacs.d/projectile"]
	path = emacs/.emacs.d/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "emacs/.emacs.d/dash"]
	path = emacs/.emacs.d/dash
	url = https://github.com/magnars/dash.el
[submodule "emacs/.emacs.d/magit"]
	path = emacs/.emacs.d/magit
	url = https://github.com/magit/magit.git
[submodule "emacs/.emacs.d/highlight-symbol.el"]
	path = emacs/.emacs.d/highlight-symbol.el
	url = https://github.com/nschum/highlight-symbol.el
